html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    font-size: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 10px;
    margin: 0 auto; /* Center the header */
    width: 100%; /* Set a specific width or use any other desired value */
    z-index: 2; /* Ensure the header is on top */
}

#books {
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

#books li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 50px;
}

.message-container {
    background-color: #DCF8C6;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid #fff;
}

.input-container {
    bottom: 0;
    display: flex;
    align-items: center; /* Align items vertically in the flex container */
    font-size: 55px;
    padding: 10px; /* Adjust padding for smaller screens */
    border-radius: 20px;
    height: 19%;
}

#input-field {
    font-size: 50px;
    height: 100%; /* Adjust the height to match the button */
    flex: 1;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    padding-left: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#add-button {
    font-size: 60px;
    height: 100%;
    width: 15%;
    padding: 20px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center; /* Align content vertically in the button */
    justify-content: center; /* Align content horizontally in the button */
}

#add-button i {
    font-size: 50px; /* Adjust the font size of the icon */
}

#add-button:hover {
    background-color: #45a049;
}

/* Media query for smaller screens */
@media (max-width: 480px) {
    .input-container {
        padding: 5px; /* Further reduce padding for smaller screens */
    }

    #input-field {
        padding: 10px;
    }

    #add-button {
        padding: 8px;
    }
}
